body{
    margin: 0px;
    padding: 0px;
    user-select: none;
}
.container{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.container,
.container > *{
    padding: 10px;
}
.container > img{
    max-width: 150px;
    margin: 0px auto;
}
.container > #questionsList,
.container > #questionsList > option,
.container > input{
    border: 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.container > #questionsList,
.container > #questionsList > option,
.container > input[type=text]{
    background-color: #F0F0F0;
    color: #CCAAF7;
}
.container > input[type=submit]{
    background-color: #995CFA;
    color: white;
}
.container > #cart-items{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    cursor: default;
}
.container > #cart-items > li{
    background-color: lightgreen;
    border-radius: 10px;
    word-break: break-all;
}
.container > #cart-items > li > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.container > #cart-items > li > div > *{
    color: black;
    padding: 10px;
    cursor: pointer;
}
.hideContainer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;
}
.hideContainer > #hideBtn{
    position: relative;
    padding: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2A2D2;
    border: 0px;
    border-radius: 10px;
}
.hideContainer > #hideBtn > img{
    position: absolute;
    width: 80%;
}